<section class="chead">
  <div class="avatar" aria-hidden="true">
    <svg viewBox="0 0 64 64"><path class="ft ln" d="M32 8l22 12.7v22.6L32 56 10 43.3V20.7z"/><path class="ln soft" d="M10 20.7L32 33.4l22-12.7M32 33.4V56"/><path class="ln ac" d="M21 26.5l11 6.4 11-6.4"/></svg>
  </div>
  <div class="who">
    <h1>mr-lk-lf</h1>
    <p class="sub">{{ i18n "founder" }} {{ partial "lofisons-link.html" . }}</p>
    <p class="tag">{{ site.Params.tagline }}</p>
  </div>
  <a class="btn" href="{{ site.Params.github }}" rel="me">{{ i18n "follow" }}</a>
</section>
